@mixin backgroundColor($value) {
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;

    span {
        float: left;
        color: #999;
        font-size: 13px;
        position: relative;
    }

    i {
        float: right;
        margin-left: 14px;
        position: relative;
        top: 2px;
        color: #A6A6A6;
        cursor: pointer;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;

        &:hover {
            color: #03658c;
        }
    }

    @if $value {
        background-color: #f2f3f5;
    }

    @else {
        background: #FCFCFC;
    }
}

@mixin uiKitHyphens() {
    overflow-wrap: break-word;
    word-wrap: break-word;


    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

@mixin shadowEffect() {
    @keyframes shadow-pulse {
        0% {
            box-shadow: 0 0 0 0px rgba(0, 120, 212, 1);
        }

        100% {
            box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
        }
    }

    @keyframes shadow-pulse-big {
        0% {
            box-shadow: 0 0 0 0px rgba(0, 120, 212, 1);
        }

        100% {
            box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
        }
    }

    .effect {
        border-radius: 3px;
        animation: shadow-pulse 3s 3
    }
}