#Statistics {
    margin-bottom: 30px;
    transition: 0.15s;

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto
    }

    @media (min-width:576px) {
        .container {
            max-width: 540px
        }
    }

    @media (min-width:768px) {

        .container {
            max-width: 720px
        }
    }

    @media (min-width:992px) {
        .container {
            max-width: 960px
        }
    }

    @media (min-width:1200px) {
        .container {
            max-width: 1140px
        }
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }


    .col {
        text-align: center;
        height: 300px;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        width: 100%;
        min-height: 1px;
        margin-right: 15px;
        margin-left: 15px;
        background-color: rgba(86, 61, 124, .15);
        border: 1px solid rgba(86, 61, 124, .2);

        .count {
            line-height: 267px;
            font-size: 45px;
        }

        .label {
            position: absolute;
            top: 5px;
            left: 15px;
            font-size: 20px;
        }
    }

    .details-title {
        text-align: center; margin-top: 30px;
    }

    .details-container {
        margin-top: 25px;
        margin-top: 25px;
        padding: 0px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        border: 3px solid black;

        @media (min-width:576px) {
            max-width: 540px
        }

        @media (min-width:768px) {
            max-width: 720px
        }

        @media (min-width:992px) {
            max-width: 960px
        }

        @media (min-width:1200px) {
            max-width: 1140px
        }

        .details-row {
            margin: 0px;
            padding: 15px;
            display: flex;
            flex-wrap: wrap;
            display: -ms-flexbox;
            -ms-flex-wrap: wrap;
            border: 2px solid black;

            .details-year-container {
                width: 100%;
                display: inline-block;

                .details-of-years {
                    width: 100%;
                    font-size: 25px;
                    font-weight: 500;
                    text-align: center;
                    display: inline-block;
                }
            }

            .details-month-container {
                width: 100%;
                display: inline-block;

                .details-of-months {
                    float: left;
                    margin: 15px;
                    width: 20%;
                    padding: 10px;
                    text-align: center;
                    border: 1px solid black;

                    .month-name {
                        width: 100%;
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 15px;
                        display: inline-block;
                    }

                    .summary-label {
                        float: left;
                        margin-right: 10px;
                    }

                    .page-view-count-per-month {
                        float: left;
                    }
                }
            }

            .summary-weekly-label {
                float: left;
                width: 100%;
                margin-top: 15px;
                margin-right: 10px;
                margin-bottom: 5px;
            }

            .details-month-container {
                margin: 5px;

                .details-of-weeks {
                    width: 100%;
                    display: inline-block;

                    .week-name {
                        float: left;
                        margin-right: 10px;
                    }

                    .week-count {
                        float: left;
                    }
                }
            }
        }
    }
}